@model Car_Rental.ViewModels.CarRentalsViewModel

@{
    ViewBag.Title = "Car rental";
}

<h4>CAR RENTAL</h4>

<div>
    @foreach (var carRental in Model.CarRentals)
    {
        <div>
            @Html.LabelFor(f => carRental.Car.Type): @carRental.Car.Type
            @Html.LabelFor(f => carRental.Car.Brand): @carRental.Car.Brand
            @Html.LabelFor(f => carRental.Car.Model): @carRental.Car.Model
            @Html.LabelFor(f => carRental.Car.NumberOfSeats): @carRental.Car.NumberOfSeats
            @Html.LabelFor(f => carRental.Car.PricePerDay): @carRental.Car.PricePerDay
            @Html.LabelFor(f => carRental.Car.Yearbook): @carRental.Car.Yearbook
            @Html.LabelFor(f => carRental.Car.EngineCapacity): @carRental.Car.EngineCapacity (@carRental.Car.Power KM)
        </div>

        <div>
            <div>
                @Html.LabelFor(f => carRental.Rental.StartDate) 
                @Html.EditorFor(e => carRental.Rental.StartDate)
            </div>
            <div>
                @Html.LabelFor(f => carRental.Rental.EndDate)
                @Html.EditorFor(e => carRental.Rental.EndDate)
            </div>
            <div>
                @Html.LabelFor(f => carRental.Rental.ReceptionPlace)
                @Html.EditorFor(e => carRental.Rental.ReceptionPlace)
            </div>
            <div>
                @Html.LabelFor(f => carRental.Rental.ReturnPlace)
                @Html.EditorFor(e => carRental.Rental.ReturnPlace)
            </div>
        </div>
    }    
</div>
